<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.tfit.BdBiProcSrvShEduOmc.dao.mapper.saas.TEduCaterTypeDoMapper">
  
  <select id="getAllCaterTypeNames" resultType="com.tfit.BdBiProcSrvShEduOmc.dao.domain.TEduCaterTypeDo">
    select distinct cater_type_name caterTypeName
    from t_edu_cater_type
    where stat =1
  </select>
  
</mapper>